body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.welcome__container {
  display: flex;
}

h2 {
  font-family: Neon Future;
  position: relative;
  font-size: 5em;
  letter-spacing: 15px;
  color: #0004;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  outline: none;
  animation: animate 0.25s linear 3 2.5s forwards;
}

.W {
  animation: W 0.2s linear 3 1s none;
}

@keyframes W {
  0% {
    color: #0004;
    text-shadow: none;
  }
  100% {
    color: #ffff;
    text-shadow: 0 0 10px #d30fed, 0 0 20px #d30fed, 0 0 40px #d30fed,
      0 0 80px #d30fed, 0 0 160px #d30fed;
  }
}

/* @keyframes animate {
  0% {
    color: #0004;
    text-shadow: none;
  }
  100% {
    color: #ffff;
    text-shadow: 0 0 10px #d30fed, 0 0 20px #d30fed, 0 0 40px #d30fed,
      0 0 80px #d30fed, 0 0 160px #d30fed;
  }
} */

@keyframes animate {
  0% {
    color: #0004;
    text-shadow: none;
  }
  100% {
    color: #ffff;
    text-shadow: 0 0 10px #d30fed, 0 0 20px #d30fed, 0 0 40px #d30fed,
      0 0 80px #d30fed, 0 0 160px #d30fed;
  }
}
